#{extends 'main.html' /}

<h1 id="welcomeMessage">
    Hello Mobile-ID world!
</h1>

#{if userName}
    <div class="alert alert-block alert-success">
        <strong id="userName">Welcome, ${userName}!</strong>
        <div id="personalCode">Personal code: ${personalCode}</div>
    </div>

    <div class="alert alert-block alert-danger">
        Chuck Norris is now following you!
    </div>

    #{a @Auth.logout(), class:'btn btn-danger'}Get out!#{/a}
#{/if}
#{else}
    <div class="alert">
        Not logged in.
        #{a @Auth.form()}Log in#{/a}
    </div>
#{/else}