#{extends 'main.html' /}

<style type="text/css">
  .space {
    margin-top: 300px;
    height: 300px;
  }
</style>

<h1 id="welcomeMessage">
    Hello Mobile-ID world!
</h1>

#{if userName}
    <div class="alert alert-block alert-success">
        <strong>Welcome, <span id="userName">${userName}</span>!</strong>
        <div>Personal code: <span id="personalCode">${personalCode}</span></div>
    </div>

    <div class="alert alert-block alert-danger">
        Chuck Norris is now following you!
    </div>

    #{a @Auth.logout(), class:'btn btn-danger'}Get out!#{/a}
#{/if}
#{else}
    <div class="alert">
        Not logged in.
        #{a @Auth.form()}Log in with Mobile-ID#{/a}
        <br/>
        #{a @Auth.loginWithIdCard()}Log in with ID Card#{/a}
    </div>
#{/else}

<div class="space"></div>
<div class="space">
  <h1>We use JVM languages in most our projects</h1>
</div>
<div class="space">
  <h1>We often do projects for Estonian customers</h1>
  <h2>Who have special login requirements</h2>
  <h2 style="margin-left: 350px">e.g. Banklink, ID card, Mobile-ID</h2>
</div>
<div class="space">
  <h1>So, we decided to make Java developer's life easier</h1>
  <h2>by providing open-source implementations of these login methods</h2>
</div>
<div class="space">
  <h1>We started with <a href="http://github.com/codeborne/mobileid">github.com/codeborne/mobileid</a></h1>
  <h3>(which will eventually become a more general login support Java library)</h3>

  <br>
  <br>

  <pre>

    // As easy as 1-2-3

    mid = new <b>MobileIDAuthenticator</b>();

    session = mid.<b>startLogin</b>();

    mid.<b>waitForLogin</b>(session);
  </pre>
</div>
<div class="space">
  <h1>We also create automated tests</h1>
</div>
<div class="space">
  <h1>We do TDD</h1>
</div>
<div class="space">
  <h1>Developers create tests</h1>
</div>
<div class="space">
  <h1>We put tests to VCS</h1>
</div>
<div class="space">
  <h1>We run UI Tests in all browsers</h1>
  <h2>&gt; ant uitest-firefox</h2>
  <h2>&gt; ant uitest-ie</h2>
  <h2>&gt; ant uitest</h2>
</div>
<div class="space">
  <h1>Our religion is CLEAN CODE</h1>
</div>
<div class="space">
  <h1>We need concise API for UI Tests</h1>
</div>
<div class="space">
  <h1>Selenium + API = SELENIDE</h1>
  <h3><a href="http://github.com/codeborne/selenide">github.com/codeborne/selenide</a></h3>

  <br>
  <br>

  <pre>
    @Test
    public void userCanLogin() {
      <b>open</b>("/login");
      <b>setValue</b>(By.name("user.name"), "johnny");
      <b>followLink</b>(By.id("submit"));
      <b>waitUntil</b>(By.id("username", <b>hasText</b>("Hello, Johnny!"));
    }
  </pre>
</div>
<div class="space">
  <h1>Coming soon:</h1>
  <h2>Painless code-generation-free SOAP client!</h2>

  <br>
  <br>

  <pre>

    service = new <b>SOAPService</b>("http://blhblah/?wsdl");
    customer = service.<b>request</b>("CreateCustomer").<b>param</b>("name", "Johnny").<b>param</b>("age", 1).<b>call</b>();
  </pre>

  <br>
  <h2>Stay tuned :-)</h2>
</div>
<div class="space"></div>
