#{extends 'main.html' /}
#{set title:'MobileID login' /}

<script type="text/javascript">
  $(function() {
    //$("#mid").submit();
    $.get( "@{Auth.completeMid}", "", function(data) {
        window.location = "/";
      }
    );
  });
</script>

<div class="container">
  <h1>MobileID login</h1>

  <span id="challenge" class="label label-warning">Challenge: ${challenge}</span>

  <form id="mid" method="POST" action="@{Auth.completeMid}">
    <input type="hidden" name="phone" value="${phone}"/>
  </form>
</div>