<!DOCTYPE html>
<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        #{stylesheet 'bootstrap.css'/}
        #{get 'moreStyles'/}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        #{script 'jquery-1.6.4.min.js'/}
        #{get 'moreScripts'/}
    </head>
    <body>
        <a href="http://github.com/codeborne"><img style="position:fixed; z-index:10000; top:0; right:0; border:0;" src="https://a248.e.akamai.net/assets.github.com/img/30f550e0d38ceb6ef5b81500c64d970b7fb0f028/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub"></a>
        <div class="container">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="http://codeborne.com">
                            <img src="http://codeborne.com/style/logo.png" alt="Codeborne" style="height:20px">
                            Mobi - <strong>mobileid</strong> &amp; <strong>selenide</strong> demo
                        </a>
                    </div>
                </div>
            </div>

            <div style="margin-top: 60px">
                #{doLayout /}
            </div>
        </div>
    </body>
</html>
